<div class="wrapper">
  <div class="grid-container">
      <div class="row">
          <div class="col-1"><p>Logo </p></div> 
          <div class="col-4-W"><p>Search</p></div> 
          <div class="col-1"><p>Dunno</p></div> 
      </div> 
      <div class="row">
          <div class="col-6-B">
            <h2>Objective Statement</h2>
              <p>Sriracha 90's small batch meh Godard selfies, post-ironic jean shorts. Meh PBR fingerstache 3 wolf moon. Twee vegan farm-to-table viral, Helvetica master cleanse Portland ennui small batch roof party blog post-ironic. Shoreditch Pitchfork 3 wolf moon, raw denim freegan actually American Apparel keffiyeh. Taxidermy plaid Blue Bottle hella single-origin coffee art party. Before they sold out authentic +1, pug umami vinyl slow-carb. Whatever Austin mixtape pop-up lo-fi slow-carb, kogi gentrify mlkshk narwhal Marfa distillery DIY try-hard Bushwick.</p>
          </div> 
      </div> 
      <div class="row">
        <div class="col-6"><p>Carousel</p>

<!--           <% @charity_data.each do |charity_data| %>
            <div class="charity_links">
              <p><%= link_to charity_data.charity_name, charity_data_path(charity_data) %></p>
                <div class="charity_images">
                  <p><img src="<%= charity_data.charity_logo %>"/></p>
                    <div class="charity_data">
                      <p><%= charity_data.charity_desc %></p>
                    </div>
                </div>
            </div>

          <% end %> -->

        </div> 
      </div>
      <div class="row">
          <div class="col-3"><p>Highchart.js</p></div>
          <div class="col-3"><p>Charity Info</p></div> 
      </div>
  </div>
  <div class="push"></div>
</div>

<div class="footer">
  <p>Footer</p>
</div>