<div class="grid-container">
    <div class="row">
        <div class="col-1"><p>Logo</p></div> 
        <div class="col-4"><p>Search</p></div> 
        <div class="col-1"><p>Dunno</p></div> 
    </div> 
    <div class="row">
        <div class="col-6"><p>Objective Statement</p></div> 
    </div> 
    <div class="row">
        <div class="col-6"><p>Carosel</p></div> 
    </div>
    <div class="row">
        <div class="col-2"><p>Highchart.js</p></div>
        <div class="col-4"><p>Charity Info</p></div> 
    </div>
    <div class="row"
        <div class="col-6"><p>Footer N STUFF</p></div>
    </div>

<!-- <h1>Charity Data</h1>

<table>
  <thead>
    <tr>
      <th>Charity Name</th>
      <th>Charity Logo</th>
      <th>Charity Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charity_data.each do |charity_data| %>
      <tr>
        <td><%= link_to charity_data.charity_name, charity_data_path(charity_data) %></td>
        <td><img src="<%= charity_data.charity_logo %>"/></td>
        <td><%= charity_data.charity_desc %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->