<div class="wrapper">
  <div class="grid-container">
      <div class="row">
          <div class="col-1"><p>Charity Informer</p></div> 
          <div class="col-4-W">

            <p>Search Your Favorite Charity</p>
              <%= form_tag charity_datas_path, method: 'get' do %>
                <p>
                  <%= text_field_tag :search, params[:search] %>
                <% end %>
                </p>

          </div> 
          <div class="col-1"><p>Sign In</p></div> 
      </div> 
      <div class="row">
          <div class="col-6-B">
            <h2>What Is Charity Informer?</h2>
              <p>Donating to charities has been a long-standing tradition of awesome people everywhere, typically because an indvidual comes to the realization that there are others in greater need outside of their immediate circle, and as such decides to spend their money not on gadgets, but on the betterment of humanity both domestic and abroad. But there are business-savvy individuals who decide to capitalize on this notion, setting up faux-charities, which by design never live up to their promises. Amazing services like <a href="http://www.charitynavigator.org/">Charity Navigator</a> will pour over the tax records of all organizations that identify themselves as philanthropic in nature and publish their findings, with the intention of exposing such fraudulent groups. However, it's still quite difficult to come to an informed decision on the fly.</p>
              <p> I'm here to fix that.</p>
          </div> 
      </div> 
      <div class="row">
        <div class="col-6">
          <div id="owl-charities" class="owl-carousel">    
            <% @charity_data.each do |charity_data| %>
              <div class="charity_links">
                <div class="charity_images">
                  <a href="charity_datas/<%=charity_data.id%>">
                    <img src="<%= charity_data.charity_logo %>"/>
                    </a>
                  </div>
                </div>
              <% end %>
            </div>
        </div> 
      </div>
<!--       <div class="row">
          <div class="col-3"><p>Highchart.js</p></div>
          <div class="col-3"><p>Charity Info</p></div> 
      </div> -->
  </div>
  <div class="push"></div>
</div>

<div class="footer">
  <p>Site designed by Paul Miller</p>
</div>

