<p>
  <strong>Charity name:</strong>
  <%= @charity_data.charity_name %>
</p>

<p>
  <strong>Charity logo:</strong>
  <%= @charity_data.charity_logo %>
</p>

<p>
  <strong>Charity desc:</strong>
  <%= @charity_data.charity_desc %>
</p>

<%= link_to 'Back', charity_data_path %>
