* {
	margin: 0;
}

html, body {
	height: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	width: 100%;
}

/*-- Sticky Footer Code Start, courtesy of http://ryanfait.com/sticky-footer/ --*/
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3em;
}

.footer, .push {
	height: 3em;
}

.footer {
	p {
	text-align: center;
	padding-top: 1em;
	background: rgb(80,80,90);
	height: 3em;
	color: rgba(255, 255, 255, .7);
	}
	a {
	text-decoration: none rgb(217, 74, 53);
	}
}
/*-- Sticky Footer End --*/

/*-- Main Styling / Site Pallettes :D --*/
.col-1,
.col-4-B    { background: rgb(35, 172, 196); 
              padding-top: 12px;}
.col-1 h2   { color: white;  letter-spacing: .2em; 
							text-shadow: 1px 1px 4px #000; 
							font-size: 1em; margin: 1em auto;
						}
.col-4-B p  { font-size: 1em; }
				 	
				 
.col-3   { height: 40em; background: rgb(255, 255, 255); }
.col-6   { height: 28.5em }
.col-6-B { background: rgb(80, 80, 90); height: 10em; 
		   		 box-shadow: inset 0em .3em .1em #333;
           padding-top: 12px;
			h2 { 
					 color: rgb(217, 74, 53); 
					 text-align: center; 
					 letter-spacing: .2em;
					 text-decoration: none;
				  }
	:nth-child(2),
	:nth-child(3) { 
					 color: rgba(255, 255, 255, .8); 
					 font-size: .9em;
					 margin-top: 1em; 
					 }
		 			}
.expando > expando > initial > a {color: rgba(217, 74, 53, .9); font-size: 1.1em; cursor: pointer}

 #description { height: 30%; padding-top: 3em; 
 						p { padding-top: 1em;}
 							}
 .charitynav {
 	text-decoration: none;
 	color: rgb(35, 172, 196);
 }

 .search {
 	margin-top: 1em;
 	padding: .5em 0em .5em .5em;
 	border-radius: 1em;
 	border: none;
 	box-shadow: inset .2em .2em .4em #333;
 }

.logo{
  max-height: 80px;
  max-width: 80px;
  height: auto;
  width: auto;
  padding-left: 10%;
}

/*-- End Styling --*/

/*-- Hamburger --*/


.menu_opener {
  display: none;
}

 /** These are the animations for everything**/
.menu_opener:checked ~ {
  .side-menu {
/*    @include transform(translateX(-100%));*/
    transform: translateX(-100%);
  }
  .menu_opener_label {
    &:after {
     transform:rotate(45deg); 
     margin-top: 1.35em;
    }
    &:before {
     transform:rotate(-45deg);
     margin-top: 1.35em;
    }
    .barre_hamburger {
   opacity: 0;
  }
  }
}

/*-- Circle + Top + Bottom Bars --*/
.menu_opener_label {
  width: 3em;
  height: 3em;
  margin: .8em 1em 0 0;
  display: block;
  cursor: pointer;
  border-radius:50%;
  float: right;
  &:after {
  position: absolute;
  display: block;
    margin-top: .85em;
    margin-left: .8em;
    background: #000;
    content: "";
    width: 1.4em;
    height: .25em; 
    border-radius: 1em;
    -webkit-transition: all .4s ease ;
    transition: all .4s ease ;
  }
  &:before {
    position: absolute;
    display: block;
    margin-top: 1.85em;
    margin-left: .8em;
    background: #000;
    content: "";
    width: 1.4em;
    height: .25em;
    border-radius: 1em;
    -webkit-transition: all .4s ease ;
    transition: all .4s ease ;
  }
}

/*-- Middle Bar --*/
.barre_hamburger {
   position: relative;
   display: block;
   margin-top: 1.35em;
   margin-right: .8em;
   width: 1.4em;
   height: .25em; 
   background: #000;
   border-radius: 1em;
   float: right;
   cursor: pointer;
   z-index: 20;
   -webkit-transition: all .4s ease;
   transition: all .4s ease;
}

/*-- Carousel --*/
#owl-charities {
	.charity_links{
  		margin: 2em;
  	}
  	.charity_images {
			:nth-child(1){
				max-width: 100%;
				margin-top: 2em;
			}
  	}
}

/*-- ALL THINGS GRID --*/

/*-- Setting border box on all elements inside the grid --*/
.grid-container *{
    box-sizing: border-box; 
}

.grid-container{
    width: 100%;
    height: 100%;      
}

[class*='col-'] {
    float: left; 
    min-height: 6em; 
    width: 16.66%; 
}

/*-- Clearfix hack -- */ 
.row:before, 
.row:after {
    content:"";
    display: table;
    clear:both;
}

.col-1   { width: 16.66%; }
.col-2   { width: 33.33%; }
.col-3   { width: 50%;    }
.col-4   { width: 66.66%; }
.col-4-B { width: 66.66%; }
.col-5   { width: 83.33%; }
.col-6   { width: 100%;   }
.col-6-B { width: 100%;   }


/*-- Content allignment --*/
[class*='col-'] p {
 margin: 0;
 text-align: center; 
}

/*-- GRID BE DONE YO --*/


/*-- Media Queries --*/

@media all and (max-width:1200px){
    .col-1    { width: 33.33%;  }
    .col-1-B  { width: 33.33%;  }
    .col-2    { width: 50%;     }
    .col-3    { width: 100%;    } 
    .col-4    { width: 50%;     }
    .col-4-B  { width: 33.33%;  }
    .col-5    { width: 100%;    }
    .col-6    { width: 100%; height: 50%;   }
    .col-6-B  { width: 100%; height: 110%; }
    .row .col-2:last-of-type{
        width: 100%; 
    }
    .row .col-5 ~ .col-1{ 
        width: 100%; 
    }
}